<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if header.title %}{{ header.title|e('html')}} - {% endif %}{{ site.title|e('html') }}</title>



    {% do assets.addCss('https://fonts.googleapis.com/css?family=Merriweather:400,900') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i') %}


    {% do assets.addCss('theme://css/main.min.css') %}
    {% do assets.addCss('theme://css/custom.css') %}
    
      {{ assets.css() }}

    {% do assets.addJs('jquery') %}
    {% do assets.addJs('theme://js/navigation.js') %}

      {{ assets.js() }}


<link rel="apple-touch-icon" sizes="57x57" href="{{ url('theme://img/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://img/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://img/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://img/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://img/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://img/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://img/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://img/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://img/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url('theme://img/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url('theme://img/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://img/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url('theme://img/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url('theme://img/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">



</head>

<body>
    
{% block top %}
    <div class="brand">
      <a href="{{ base_url == '' ? '/' : base_url }}">
        {{ config.site.title }}
      </a>
    </div>

    <section class="navigation">
      <div class="nav-container">
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            {% for page in pages.children.visible %}
              {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </section>
{% endblock %}

  {% block main %}
    <main>

        {% block content %}
        {% endblock %}

    </main>
  {% endblock %}

    

  <footer class="padding-top padding-bottom grey-light" id="footer">
    <div class="container">
      <div class="row">
        
        <div class="small-50 text-center">
          &nbsp;
        </div>

        <div class="small-50 text-center">
          <ul class="clean-list">
              {% for page in pages.children.visible %}
                  <li>
                      <a href="{{ page.url }}">
                          {{ page.menu }}
                      </a>
                  </li>
              {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </footer>


</body>
</html>